<template>
	<div id="app">
		<div id="nav">
			<router-link to="/">Inicio</router-link> |
			<router-link to="/about">Planes</router-link>
		</div>
		<router-view />
	</div>
</template>

<style>
</style>
